{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Rocket.Chat API",
    "description": "Merged Rocket.Chat REST API documentation"
  },
  "servers": [
    {
      "url": "https://apiexplorer.support.rocket.chat"
    }
  ],
  "paths": {
    "/api/v1/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Username and Password",
        "description": "-  Although none of the body parameters are required, it's mandatory to include  either the `user` AND `password`  or only the `resume` parameter.\n\n- To authenticate a request, you need to pass the `userId` and `authToken` values from this JSON response object as headers in the request. The `authToken` is passed as `X-Auth-Token` header, while the `userId` as `X-User-Id` header.\n\n-  If LDAP authentication is enabled, you must maintain the login in the same way as you normally do. Similarly, if 2FA is enabled for an LDAP user, everything stays the same.\n  \n### Changelog\n| Version      | Description | \n | ---------------- | ------------|\n |1.0.0            | Added `avatarUrl` property to response       |\n |0.64.0            | Added `me` property.      |\n |0.60.0            | Added      |",
        "operationId": "post-api-v1-login",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Your user name or email.",
                    "example": "myusername"
                  },
                  "password": {
                    "type": "string",
                    "description": "Your pasword.",
                    "example": "my$up3erP@ssw0rd"
                  },
                  "resume": {
                    "type": "string",
                    "description": "Your previously issued `authToken`.",
                    "example": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq"
                  },
                  "code": {
                    "type": "string",
                    "description": "The 2FA code. It is required if your account has two-factor authentication enabled .",
                    "example": "2246d10"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "user": "test@rocket.test",
                    "password": "vanvica32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authToken": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "me": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "verified": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            },
                            "status": {
                              "type": "string"
                            },
                            "statusConnection": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "utcOffset": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "settings": {
                              "type": "object",
                              "properties": {
                                "preferences": {
                                  "type": "object"
                                }
                              }
                            },
                            "avatarUrl": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Login successful": {
                    "value": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/login - with Facebook": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Facebook",
        "description": "### Changelog\n| Version      | Description | \n | ---------------- | ------------|\n |1.0.0            | Added `avatarUrl` property to response       |\n |0.64.0            | Added `me` property.      |\n |0.63.0            | Added      |",
        "operationId": "post-api-v1-login-facebook",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceName": {
                    "type": "string",
                    "description": "The desired OAuth service name. In this case, `facebook`.",
                    "example": "facebook"
                  },
                  "accessToken": {
                    "type": "string",
                    "description": "Access token provided by Facebook oauth.",
                    "example": "hash"
                  },
                  "secret": {
                    "type": "string",
                    "description": "The secret provided by Facebook.",
                    "example": "hash"
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Lifetime of token (in seconds).",
                    "example": 200
                  }
                },
                "required": [
                  "serviceName",
                  "accessToken",
                  "secret",
                  "expiresIn"
                ],
                "x-examples": {
                  "Example": {
                    "serviceName": "facebook",
                    "accessToken": "hash",
                    "secret": "hash",
                    "expiresIn": 200
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "serviceName": "facebook",
                    "accessToken": "hash",
                    "secret": "hash",
                    "expiresIn": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authToken": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "me": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "verified": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            },
                            "status": {
                              "type": "string"
                            },
                            "statusConnection": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "utcOffset": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "settings": {
                              "type": "object",
                              "properties": {
                                "preferences": {
                                  "type": "object"
                                }
                              }
                            },
                            "avatarUrl": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/login - with Twitter": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Twitter",
        "description": "### Changelog\n| Version      | Description | \n | ---------------- | ------------|\n |1.0.0            | Added `avatarUrl` property to response       |\n |0.64.0            | Added `me` property.      |\n |0.63.0            | Added      |",
        "operationId": "post-api-v1-login-twitter",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceName": {
                    "type": "string",
                    "description": "The desired OAuth service name. In this case, `twitter`.",
                    "example": "twitter"
                  },
                  "accessToken": {
                    "type": "string",
                    "description": "Access token provided by Twitter OAuth.",
                    "example": "hash"
                  },
                  "accessTokenSecret": {
                    "type": "string",
                    "description": "The access token secret provided by Twitter OAuth.",
                    "example": "hash"
                  },
                  "appSecret": {
                    "type": "string",
                    "description": "The app secret provided by Twitter.",
                    "example": "hash"
                  },
                  "appId": {
                    "type": "string",
                    "description": "The app ID provided by Twitter.",
                    "example": "hash"
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Lifetime of token (in seconds).",
                    "example": 200
                  }
                },
                "required": [
                  "serviceName",
                  "accessToken",
                  "accessTokenSecret",
                  "appSecret",
                  "appId",
                  "expiresIn"
                ],
                "x-examples": {
                  "Example": {
                    "serviceName": "twitter",
                    "accessToken": "hash",
                    "accessTokenSecret": "hash",
                    "appSecret": "hash",
                    "appId": "hash",
                    "expiresIn": 200
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "serviceName": "twitter",
                    "accessToken": "hash",
                    "accessTokenSecret": "hash",
                    "appSecret": "hash",
                    "appId": "hash",
                    "expiresIn": 200
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authToken": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "me": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "verified": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            },
                            "status": {
                              "type": "string"
                            },
                            "statusConnection": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "utcOffset": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "settings": {
                              "type": "object",
                              "properties": {
                                "preferences": {
                                  "type": "object"
                                }
                              }
                            },
                            "avatarUrl": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Example": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/login - with Google": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login with Google",
        "description": "### Changelog\n| Version      | Description | \n | ---------------- | ------------|\n |1.0.0            | Added `avatarUrl` property to response       |\n |0.64.0            | Added `me` property.      |\n |0.60.0            | Added      |",
        "operationId": "post-api-v1-login-google",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceName": {
                    "type": "string",
                    "description": "The desired OAuth service name. In this case, `google`."
                  },
                  "accessToken": {
                    "type": "string",
                    "description": "Access token provided by Google OAuth."
                  },
                  "idToken": {
                    "type": "string",
                    "description": "The ID token provided by Google OAuth."
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "Lifetime of token (in seconds)."
                  },
                  "scope": {
                    "type": "string",
                    "description": "Google scopes for API."
                  }
                },
                "required": [
                  "serviceName",
                  "accessToken",
                  "idToken",
                  "expiresIn"
                ],
                "x-examples": {
                  "Example": {
                    "serviceName": "google",
                    "accessToken": "hash",
                    "idToken": "hash",
                    "expiresIn": 200,
                    "scope": "profile"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "serviceName": "google",
                    "accessToken": "hash",
                    "idToken": "hash",
                    "expiresIn": 200,
                    "scope": "profile"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authToken": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "me": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "emails": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  },
                                  "verified": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            },
                            "status": {
                              "type": "string"
                            },
                            "statusConnection": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "utcOffset": {
                              "type": "integer"
                            },
                            "active": {
                              "type": "boolean"
                            },
                            "roles": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "settings": {
                              "type": "object",
                              "properties": {
                                "preferences": {
                                  "type": "object"
                                }
                              }
                            },
                            "avatarUrl": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "x-examples": {
                    "Login successful": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "status": "success",
                      "data": {
                        "authToken": "9HqLlyZOugoStsXCUfD_0YdwnNnunAJF8V47U3QHXSq",
                        "userId": "aobEdbYhXfu5hkeqG",
                        "me": {
                          "_id": "aYjNnig8BEAWeQzMh",
                          "name": "Rocket Cat",
                          "emails": [
                            {
                              "address": "rocket.cat@rocket.chat",
                              "verified": false
                            }
                          ],
                          "status": "offline",
                          "statusConnection": "offline",
                          "username": "rocket.cat",
                          "utcOffset": -3,
                          "active": true,
                          "roles": [
                            "admin"
                          ],
                          "settings": {
                            "preferences": {}
                          },
                          "avatarUrl": "http://localhost:3000/avatar/test"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout",
        "description": "Invalidate your REST API authentication token.",
        "operationId": "post-api-v1-logout",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "The authorization token of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "The user id of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": "success",
                      "data": {
                        "message": "You've been logged out!"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Profile Information",
        "description": "Quick information about the authenticated user.\n### Changelog\n | Version      | Description | \n | ---------------- | ------------|\n |1.0.0            | Added `avatarUrl` property to response       |\n |0.68.0            | Added `customFields` property.      |\n |0.48.0            | Added      |",
        "operationId": "get-api-v1-me",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "The user ID of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "The authorization token of the user.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK \n\nThe `customFields` parameter won't be returned if it doesn't exist on the workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "verified": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "statusConnection": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "utcOffset": {
                      "type": "integer"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "preferences": {
                          "type": "object",
                          "properties": {
                            "enableAutoAway": {
                              "type": "boolean"
                            },
                            "idleTimeoutLimit": {
                              "type": "integer"
                            },
                            "desktopNotificationDuration": {
                              "type": "integer"
                            },
                            "audioNotifications": {
                              "type": "string"
                            },
                            "desktopNotifications": {
                              "type": "string"
                            },
                            "mobileNotifications": {
                              "type": "string"
                            },
                            "unreadAlert": {
                              "type": "boolean"
                            },
                            "useEmojis": {
                              "type": "boolean"
                            },
                            "convertAsciiEmoji": {
                              "type": "boolean"
                            },
                            "autoImageLoad": {
                              "type": "boolean"
                            },
                            "saveMobileBandwidth": {
                              "type": "boolean"
                            },
                            "collapseMediaByDefault": {
                              "type": "boolean"
                            },
                            "hideUsernames": {
                              "type": "boolean"
                            },
                            "hideRoles": {
                              "type": "boolean"
                            },
                            "hideFlexTab": {
                              "type": "boolean"
                            },
                            "hideAvatars": {
                              "type": "boolean"
                            },
                            "roomsListExhibitionMode": {
                              "type": "string"
                            },
                            "sidebarViewMode": {
                              "type": "string"
                            },
                            "sidebarHideAvatar": {
                              "type": "boolean"
                            },
                            "sidebarShowUnread": {
                              "type": "boolean"
                            },
                            "sidebarShowFavorites": {
                              "type": "boolean"
                            },
                            "sendOnEnter": {
                              "type": "string"
                            },
                            "messageViewMode": {
                              "type": "integer"
                            },
                            "emailNotificationMode": {
                              "type": "string"
                            },
                            "roomCounterSidebar": {
                              "type": "boolean"
                            },
                            "newRoomNotification": {
                              "type": "string"
                            },
                            "newMessageNotification": {
                              "type": "string"
                            },
                            "muteFocusedConversations": {
                              "type": "boolean"
                            },
                            "notificationsSoundVolume": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "customFields": {
                      "type": "object",
                      "properties": {
                        "twitter": {
                          "type": "string"
                        }
                      }
                    },
                    "avatarUrl": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "_id": "aobEdbYhXfu5hkeqG",
                      "name": "Example User",
                      "emails": [
                        {
                          "address": "example@example.com",
                          "verified": true
                        }
                      ],
                      "status": "offline",
                      "statusConnection": "offline",
                      "username": "example",
                      "utcOffset": 0,
                      "active": true,
                      "roles": [
                        "user",
                        "admin"
                      ],
                      "settings": {
                        "preferences": {
                          "enableAutoAway": false,
                          "idleTimeoutLimit": 300,
                          "desktopNotificationDuration": 0,
                          "audioNotifications": "mentions",
                          "desktopNotifications": "mentions",
                          "mobileNotifications": "mentions",
                          "unreadAlert": true,
                          "useEmojis": true,
                          "convertAsciiEmoji": true,
                          "autoImageLoad": true,
                          "saveMobileBandwidth": true,
                          "collapseMediaByDefault": false,
                          "hideUsernames": false,
                          "hideRoles": false,
                          "hideFlexTab": false,
                          "hideAvatars": false,
                          "roomsListExhibitionMode": "category",
                          "sidebarViewMode": "medium",
                          "sidebarHideAvatar": false,
                          "sidebarShowUnread": false,
                          "sidebarShowFavorites": true,
                          "sendOnEnter": "normal",
                          "messageViewMode": 0,
                          "emailNotificationMode": "all",
                          "roomCounterSidebar": false,
                          "newRoomNotification": "door",
                          "newMessageNotification": "chime",
                          "muteFocusedConversations": true,
                          "notificationsSoundVolume": 100
                        }
                      },
                      "customFields": {
                        "twitter": "@userstwi"
                      },
                      "avatarUrl": "http://localhost:3000/avatar/test",
                      "success": true
                    }
                  }
                },
                "examples": {
                  "User profile": {
                    "value": {
                      "_id": "aobEdbYhXfu5hkeqG",
                      "name": "Example User",
                      "emails": [
                        {
                          "address": "example@example.com",
                          "verified": true
                        }
                      ],
                      "status": "offline",
                      "statusConnection": "offline",
                      "username": "example",
                      "utcOffset": 0,
                      "active": true,
                      "roles": [
                        "user",
                        "admin"
                      ],
                      "settings": {
                        "preferences": {
                          "enableAutoAway": false,
                          "idleTimeoutLimit": 300,
                          "desktopNotificationDuration": 0,
                          "audioNotifications": "mentions",
                          "desktopNotifications": "mentions",
                          "mobileNotifications": "mentions",
                          "unreadAlert": true,
                          "useEmojis": true,
                          "convertAsciiEmoji": true,
                          "autoImageLoad": true,
                          "saveMobileBandwidth": true,
                          "collapseMediaByDefault": false,
                          "hideUsernames": false,
                          "hideRoles": false,
                          "hideFlexTab": false,
                          "hideAvatars": false,
                          "roomsListExhibitionMode": "category",
                          "sidebarViewMode": "medium",
                          "sidebarHideAvatar": false,
                          "sidebarShowUnread": false,
                          "sidebarShowFavorites": true,
                          "sendOnEnter": "normal",
                          "messageViewMode": 0,
                          "emailNotificationMode": "all",
                          "roomCounterSidebar": false,
                          "newRoomNotification": "door",
                          "newMessageNotification": "chime",
                          "muteFocusedConversations": true,
                          "notificationsSoundVolume": 100
                        }
                      },
                      "customFields": {
                        "twitter": "@userstwi"
                      },
                      "avatarUrl": "http://localhost:3000/avatar/test",
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users.2fa.enableEmail": {
      "post": {
        "tags": [
          "Two-Factor Authentication"
        ],
        "summary": "Enable 2FA via Email",
        "description": "Enable email two-factor authentication for your account. This endpoint only works if the user has at least one verified email. ",
        "operationId": "post-api-v1-users.2fa.enableEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/users.2fa.sendEmailCode": {
      "parameters": [],
      "post": {
        "summary": "Send 2FA Email Code",
        "operationId": "post-api-v1-users.2fa.sendEmailCode",
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "emailOrUsername is required [error-parameter-required]",
                      "errorType": "error-parameter-required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        },
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-TokenNotRequired"
          },
          {
            "$ref": "#/components/parameters/UserIdNotRequired"
          }
        ],
        "tags": [
          "Two-Factor Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emailOrUsername": {
                    "type": "string",
                    "description": "Enter the email or username.",
                    "example": "test@email.com"
                  }
                },
                "required": [
                  "emailOrUsername"
                ]
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "emailOrUsername": "test@email.com"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users.2fa.disableEmail": {
      "post": {
        "tags": [
          "Two-Factor Authentication"
        ],
        "summary": "Disable 2FA via Email",
        "description": "Disable two-factor authentication via email. The 2FA code is required.",
        "operationId": "post-api-v1-users.2fa.disableEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "X-2fa-Code",
            "in": "header",
            "description": "The 2FA code. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-2fa-method",
            "description": "The 2FA method. It can be `email`, `totp`, or `password`.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "TOTP Required \n\nThe 2FA code is passed as the `X-2fa-Code` query parameter.\n\nIt's important to note the **required TOTP method** returned from the response.\n\n- If it's `password`, add the hashed password of the user as the `X-2fa-Code` header parameter. \n- If it's `email`, add the 2FA code sent via email as the `X-2fa-Code` header parameter.\n- If it's `totp`, add the code from your authenticator app as the `X-2fa-Code` header parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string"
                        },
                        "codeGenerated": {
                          "type": "boolean"
                        },
                        "availableMethods": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "TOTP Required": {
                    "value": {
                      "success": false,
                      "error": "TOTP Required [totp-required]",
                      "errorType": "totp-required",
                      "details": {
                        "method": "password",
                        "codeGenerated": false,
                        "availableMethods": []
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/emoji-custom.all": {
      "get": {
        "tags": [
          "Custom Emoji"
        ],
        "summary": "List All Custom Emojis",
        "description": "List all custom emojis.\n\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|7.11.0            | Added the `name` query parameter       |\n|0.63.0            | Added       |",
        "operationId": "get-api-v1-emoji-custom.all",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "schema": {
              "type": "string",
              "example": "emoji-one"
            },
            "in": "query",
            "name": "name",
            "description": "Enter the emoji name you want to find. This parameter is optional."
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emojis": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "aliases": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "extension": {
                            "type": "string"
                          },
                          "_updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "emojis": [
                        {
                          "_id": "6542e83aa2f73c7460e18efb",
                          "name": "happy",
                          "aliases": [
                            "happy-gang"
                          ],
                          "extension": "png",
                          "_updatedAt": "2023-11-02T00:07:22.433Z"
                        }
                      ],
                      "count": 1,
                      "offset": 0,
                      "total": 1,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/emoji-custom.create": {
      "post": {
        "tags": [
          "Custom Emoji"
        ],
        "summary": "Create an Emoji",
        "description": "Upload a custom emoji to the workspace. Make sure that you have configured the storage system. For details, refer to the [Manage Custom Sounds and Emojis](https://docs.rocket.chat/docs/manage-custom-sounds-and-emojis) document.\n\nPermission required: `manage-emoji`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|0.74.0            | Added       |\n",
        "operationId": "post-api-v1-emoji-custom.create",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "emoji",
                  "name"
                ],
                "properties": {
                  "emoji": {
                    "type": "string",
                    "description": "The image file to use as the new custom emoji.",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the new custom emoji."
                  },
                  "aliases": {
                    "type": "string",
                    "description": "The alias of the new custom emoji. You can enter more than one alias as comma-separated values."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "Missing Content-Type"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "success": false,
                      "error": "[No file uploaded]",
                      "errorType": "No file uploaded"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/emoji-custom.delete": {
      "post": {
        "tags": [
          "Custom Emoji"
        ],
        "summary": "Delete a Custom Emoji",
        "description": "Delete a custom emoji. Permission required: `manage-emoji`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|0.74.0            | Added       |",
        "operationId": "post-api-v1-emoji-custom.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emojiId"
                ],
                "properties": {
                  "emojiId": {
                    "type": "string",
                    "description": "Enter the emoji ID to delete."
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "emojiId": "6542e83aa2f73c7460e18efb"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "The \"emojiId\" params is required!"
                    }
                  },
                  "Example 2": {
                    "value": {
                      "success": false,
                      "error": "Invalid emoji [Custom_Emoji_Error_Invalid_Emoji]",
                      "errorType": "Custom_Emoji_Error_Invalid_Emoji",
                      "details": {
                        "method": "deleteEmojiCustom"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/emoji-custom.list": {
      "get": {
        "tags": [
          "Custom Emoji"
        ],
        "summary": "Get Updated List of Custom Emojis",
        "description": "Get a list of updated and removed emojis.\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|7.0.0            | Added  `_id` and  `_updatedAt` query parameter     |\n|0.75.0            | Added       |",
        "operationId": "get-api-v1-emoji-custom.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Date since the emojis were updated. Format: ISO string. When you provide the `updatedSince` query parameter in the URL then the `update` and `remove` in the response will contain only those updated and removed since this date and time.",
            "schema": {
              "type": "string"
            },
            "example": "2017-11-25T15:08:17.248Z"
          },
          {
            "name": "_updatedAt",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            },
            "example": "2024-11-02T06:40:43.751Z"
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Filter list by custom emoji id.",
            "schema": {
              "type": "string"
            },
            "example": "6725ca0a101755229a8cb3bf"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emojis": {
                      "type": "object",
                      "properties": {
                        "update": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "aliases": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "extension": {
                                "type": "string"
                              },
                              "_updatedAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "remove": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "aliases": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "extension": {
                                "type": "string"
                              },
                              "_updatedAt": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "emojis": {
                        "update": [
                          {
                            "_id": "S5XvYppoLrLd9JvQm",
                            "name": "teste",
                            "aliases": [],
                            "extension": "jpg",
                            "_updatedAt": "2019-02-18T16:48:35.119Z"
                          }
                        ],
                        "remove": [
                          {
                            "_id": "2dbVBG434dnsdh23",
                            "name": "teste3",
                            "aliases": [],
                            "extension": "jpg",
                            "_updatedAt": "2019-02-18T16:48:35.119Z"
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/emoji-custom.update": {
      "post": {
        "tags": [
          "Custom Emoji"
        ],
        "summary": "Update a Custom Emoji",
        "description": "Update a custom emoji. Permission required: `manage-emoji`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|0.74.0            | Added       |",
        "operationId": "post-api-v1-emoji-custom.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Auth-Token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "_id"
                ],
                "properties": {
                  "emoji": {
                    "type": "string",
                    "description": "Upload the emoji file that you want to update as form-data."
                  },
                  "name": {
                    "type": "string",
                    "description": "Enter the name of the emoji that you want to update.",
                    "example": "my-custom-emoji"
                  },
                  "_id": {
                    "type": "string",
                    "description": "Enter the emoji ID to be updated.",
                    "example": "AG7DSB2H32YHS"
                  },
                  "aliases": {
                    "type": "string",
                    "description": "The alias of the custom emoji. You can enter more than one alias as comma-separated values.",
                    "example": "emoji-alias"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "[The required \"_id\" query param is missing.]",
                      "errorType": "The required \"_id\" query param is missing."
                    }
                  },
                  "Example 2": {
                    "value": {
                      "success": false,
                      "error": "[Emoji not found.]",
                      "errorType": "Emoji not found."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-sounds.list": {
      "get": {
        "tags": [
          "Custom Sounds"
        ],
        "summary": "List Custom Sounds",
        "description": "List all custom sounds. \n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|2.4.0            | Added `name` query parameter for filtering.      |\n|2.4.0            | Added       |",
        "operationId": "get-api-v1-custom-sounds.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter list by the name of the custom sound.",
            "schema": {
              "type": "string"
            },
            "example": "drill"
          },
          {
            "schema": {},
            "in": "query",
            "name": "sort",
            "description": "Sort the results in ascending (`1`) or descending (`-1`) order. The options are:\n * `name`: Sort the results by name. For example, `sort={\"name\": 1}` (default) or `sort={\"name\": -1}`.\n * `_id`: Sort by ID. For example, `sort={\"_id\": 1}` or `sort={\"_id\": -1}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sounds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "extension": {
                            "type": "string"
                          },
                          "_updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "value": {
                      "sounds": [
                        {
                          "_id": "65462caea2f73c7460e18f83",
                          "name": "doremi",
                          "extension": "mp3",
                          "_updatedAt": "2023-11-04T11:36:14.171Z"
                        }
                      ],
                      "count": 1,
                      "offset": 0,
                      "total": 1,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-user-status.list": {
      "get": {
        "tags": [
          "Custom User Status"
        ],
        "summary": "List Custom User Status",
        "description": "Lists all available custom user's status.\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|7.0.0           | Added `name` and `_id` query parameters for filtering.      |\n|2.4.0            | Added       |",
        "operationId": "get-api-v1-custom-user-status.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter list by the name of the custom status.",
            "schema": {
              "type": "string"
            },
            "example": "lunch"
          },
          {
            "name": "_id",
            "in": "query",
            "description": "Filter list by the _id of the custom status.",
            "schema": {
              "type": "string"
            },
            "example": "6731e2ce3b74d3c57d334d0f"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "schema": {},
            "in": "query",
            "name": "sort",
            "description": "Sort the order of custom user status in ascending (`1`) or descending (`-1`) order. The options are:\n * `name`: Sort by name. For example, `sort={\"name\": 1}` (default) or `sort={\"name\": -1}`.\n * `statusType`: Sort by status type. For example, `sort={\"statusType\": 1}` or sort=`{\"statusType\": -1}`.\n * You can also sort using both parameters. For example, `sort={\"name\": 1, \"statusType\": -1}`."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statuses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "statusType": {
                            "type": "string"
                          },
                          "_updatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "statuses": [
                        {
                          "_id": "63f61be0b000b6b6d86704c8",
                          "name": "brb",
                          "statusType": "away",
                          "_updatedAt": "2023-02-22T13:42:56.811Z"
                        }
                      ],
                      "count": 1,
                      "offset": 0,
                      "total": 1,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-user-status.create": {
      "post": {
        "tags": [
          "Custom User Status"
        ],
        "summary": "Create Custom Status",
        "description": "Create a custom user status. Permission required: `manage-user-status`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|2.4.0            | Added       |\n",
        "operationId": "post-api-v1-custom-user-status.create",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the custom status."
                  },
                  "statusType": {
                    "type": "string",
                    "description": "The `statusType` of the custom status. Valid status type includes: `Online`, `Busy`, `Away`, `Offline`."
                  }
                },
                "required": [
                  "name",
                  "statusType"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "caught up",
                    "statusType": "busy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "statusType": {
                          "type": "string"
                        },
                        "_updatedAt": {
                          "type": "string"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "customUserStatus": {
                        "_id": "65462e97a2f73c7460e18f84",
                        "name": "caught up",
                        "statusType": "busy",
                        "_updatedAt": "2023-11-04T11:44:23.366Z"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Missing Name Param": {
                    "value": {
                      "success": false,
                      "error": "The field Name is required [error-the-field-is-required]",
                      "errorType": "error-the-field-is-required",
                      "details": {
                        "method": "insertOrUpdateUserStatus",
                        "field": "Name"
                      }
                    }
                  },
                  "Status name already in use": {
                    "value": {
                      "success": false,
                      "error": "The custom user status name is already in use [Custom_User_Status_Error_Name_Already_In_Use]",
                      "errorType": "Custom_User_Status_Error_Name_Already_In_Use",
                      "details": {
                        "method": "insertOrUpdateUserStatus"
                      }
                    }
                  },
                  "Invalid Status Type": {
                    "value": {
                      "success": false,
                      "error": "Offline is not a valid status type [error-input-is-not-a-valid-field]",
                      "errorType": "error-input-is-not-a-valid-field",
                      "details": {
                        "method": "insertOrUpdateUserStatus",
                        "input": "Offline",
                        "field": "StatusType"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-user-status.update": {
      "post": {
        "tags": [
          "Custom User Status"
        ],
        "summary": "Update Custom Status",
        "description": "Update a custom status. Permission required: `manage-user-status`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|2.4.0            | Added       |",
        "operationId": "post-api-v1-custom-user-status.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string",
                    "description": "The `_id` of the custom status."
                  },
                  "name": {
                    "type": "string",
                    "description": "The updated name of the custom status."
                  },
                  "statusType": {
                    "type": "string",
                    "description": "The updated `statusType` of the custom status"
                  }
                },
                "required": [
                  "_id",
                  "name",
                  "statusType"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "_id": "65462e97a2f73c7460e18f84",
                    "name": "caught up again",
                    "statusType": "busy"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customUserStatus": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "statusType": {
                          "type": "string"
                        },
                        "_updatedAt": {
                          "type": "string"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "Success Example": {
                    "value": {
                      "customUserStatus": {
                        "_id": "65462e97a2f73c7460e18f84",
                        "name": "caught up again",
                        "statusType": "busy",
                        "_updatedAt": "2023-11-04T11:51:28.353Z"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "User status not found": {
                    "value": {
                      "success": false,
                      "error": "No custom user status found with the id of \"SeZHHb77QXWRbnDh\"."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-user-status.delete": {
      "post": {
        "tags": [
          "Custom User Status"
        ],
        "summary": "Delete Custom User Status",
        "description": "Delete a custom user status. Permission required: `manage-user-status`\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|2.4.0            | Added       |",
        "operationId": "post-api-v1-custom-user-status.delete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customUserStatusId": {
                    "type": "string",
                    "description": "The `_id` of the custom status"
                  }
                },
                "required": [
                  "customUserStatusId"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "customUserStatusId": "65462e97a2f73c7460e18f84"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "User status Id is required:": {
                    "value": {
                      "success": false,
                      "error": "The \"customUserStatusId\" params is required!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/assets.setAsset": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Set Asset",
        "description": "Upload an <a href=\"https://docs.rocket.chat/docs/assets\" target=\"_blank\"> asset</a> by name. Permissions required: `manage-assets`. Make sure that the workspace's <a href='https://docs.rocket.chat/docs/file-upload' target='_blank'>file upload settings</a> are configured as required. The allowed file size and type depend on the file upload settings.\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|0.69.0           | Added       |",
        "operationId": "post-api-v1-assets.setAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "asset",
                  "assetName"
                ],
                "properties": {
                  "asset": {
                    "type": "string",
                    "description": "Upload the file as form-data."
                  },
                  "assetName": {
                    "type": "string",
                    "description": "Type of asset to upload. The value can be one of the following:\n* `logo`\n* `background`\n* `favicon_ico`\n* `favicon`\n* `favicon_16`\n* `favicon_32`\n* `favicon_192`\n* `favicon_512`\n* `touchicon_180`\n* `touchicon_180_pre`\n* `tile_70`\n* `tile_144`\n* `tile_150`\n* `tile_310_square`\n* `tile_310_wide`\n* `safari_pinned`"
                  },
                  "refreshAllClients": {
                    "type": "boolean",
                    "description": "Set to true if all clients must be refreshed to immediately apply the changes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "No asset name": {
                    "value": {
                      "success": false,
                      "error": "Invalid asset"
                    }
                  },
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "[No file uploaded]",
                      "errorType": "No file uploaded"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/assets.unsetAsset": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Unset Asset",
        "description": "Remove an asset by name. Permissions required: `manage-assets` .\n\n### Changelog\n| Version      | Description | \n| ---------------- | ------------|\n|0.69.0           | Added       |",
        "operationId": "post-api-v1-assets.unsetAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/Auth-Token"
          },
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetName": {
                    "type": "string",
                    "description": "Type of asset to remove. The value can be one of the following:\n* `logo`\n* `background`\n* `favicon_ico`\n* `favicon`\n* `favicon_16`\n* `favicon_32`\n* `favicon_192`\n* `favicon_512`\n* `touchicon_180`\n* `touchicon_180_pre`\n* `tile_70`\n* `tile_144`\n* `tile_150`\n* `tile_310_square`\n* `tile_310_wide`\n* `safari_pinned`"
                  },
                  "refreshAllClients": {
                    "type": "boolean",
                    "description": "Set to true if all clients must be refreshed to immediately apply the changes."
                  }
                },
                "required": [
                  "assetName"
                ]
              },
              "examples": {
                "Example": {
                  "value": {
                    "assetName": "logo",
                    "refreshAllClients": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/trueSuccess"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "error": "must have required property 'assetName' [invalid-params]",
                      "errorType": "invalid-params"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/authorizationError"
          }
        }
      }
    },
    "/api/v1/custom-sounds.getOne": {
      "get": {
        "summary": "Get Custom Sound",
        "tags": [
          "Custom Sounds"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "sound": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "extension": {
                          "type": "string"
                        },
                        "_updatedAt": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Request succeeded; returns the sound metadata.": {
                    "value": {
                      "success": true,
                      "sound": {
                        "_id": "65462caea2f73c7460e18f83",
                        "name": "doremi",
                        "extension": "mp3",
[...]
